body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.but {
  margin: 60px;
  background-color: yellow;
  border: 1px solid black;
  border-radius: 3px;
  padding: 10px;
  text-decoration: none;
}

.but:hover {
  background-color: red;
}

#root {
  padding: 50px;
}
