body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.but {
  width: 150px;
  height: 150px;
  margin: 60px;
  border: 1px solid black;
  border-radius: 85px;
  padding: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  button {
    margin: 60px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 3px;
    padding: 10px;
  }
}

.green {
  background-color: green;
}

.red {
  background-color: red;
}
#root {
  padding: 50px;
}
